hr {
    border: 2px solid black;
}

h1 {
    font-family: monospace;
    font-size: 3em;
    text-align: center;
    text-decoration: underline;
    letter-spacing: 2px;
}

h2 {
    font-family: monospace;
    text-align: center;
    font-size: 2em;
}

h3 {
    font-family: monospace;
    text-align: center;
    font-size: 1.8em;
}

h4 {
    font-family: monospace;
    text-align: center;
    font-size: 1.6em;
    color: white;
}

body {
    background: repeating-linear-gradient(45deg, black, yellow 10%, black 10%);
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}

p {
    font-size: 1.2em;
    line-height: 1.4;
}

#wrap {
    background: yellow;
    margin: 0 auto;
    overflow: hidden;
    width: 55%;
    padding: 0 5% 1% 5%;
}


a {
    color: #007084;
}

a:hover {
    color: #00C3C0;
}

img {
    display: block;
    margin: 3% auto 3% auto;
    max-width: 100%;
}

figure {
    font-family: monospace;
    font-style: italic;
    text-align: center;
    font-size: 1.4em;
}

button {
    font-size: 0.8em;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 15px;
    padding: 0.6em 0.6em 0.6em 0.6em;
    background-color: white;
    display: block;
    margin: auto;
}

button:hover {
    background-color: #4DD12D;
    color: white;
    transition-duration: 0.4s;
}

ul {
    display: table;
    font-size: 1.2em;
    background-color: #ABEA0D;
    border: 3px solid black;
    border-radius: 10px;
    padding: 0.5em 2em 0.5em 2em;
    box-shadow: 5px 5px gray;
    margin: 0 auto 0 auto;
}

nav ul {
    box-shadow: none;
    width: auto%;
    text-align: center;
}

nav li {
    display: inline-block;
    padding: 0 1em 0 1em;
    font-weight: bold;
}

li a:hover {
    color: black;
}

iframe {
    border: 4px dashed black;
    padding: 0.3em 0.3em 0.3em 0.3em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

form {
    margin: 1em 0 1em 0;
}

form li + li {
    margin-top: 1em;
  }

form ul {
    list-style: none;
    font-size: 1em;
    padding-top: 1em;
}

li + button {
    margin-top: 1em;
}

button + button {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

label {
    display: inline-block;
    width: 90px;
    text-align: right;
    font-weight: bold;
  }
  
input, 
textarea {
    font: 0.8em Arial, Helvetica, sans-serif;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid black;
    padding: 1% 0 1% 0;
}

textarea {
    vertical-align: top;
    height: 5em;
  }

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: 0.6em;
    margin-bottom: 1em;
}

.card {
    display: grid;
    grid-template-rows: max-content 200px 1fr;
    border: 3px solid black;
}

.card img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid black;
    margin: auto;
}

.card header {
    background-color: black;
} 

.content p {
    font-size: 1.1em;
    padding: 0 1em 0 1em;
}

footer {
    background-color: black;
    text-align: center;
    padding: 1em 0 1em 0;
}

footer a {
    color: white
}

table {
    display: table;
    font-size: 1.2em;
    background-color: #ABEA0D;
    border: 3px solid black;
    border-radius: 10px;
    padding: 0.5em 0 0.5em 0;
    box-shadow: 5px 5px gray;
    margin: 0 auto 1em auto;
}

td {
    text-align: center;
}

th {
    padding: 0.5em 3em 0.5em 3em;
}

td {
    padding-bottom: 0.5em;
}


.feature {
    border-radius: 50%;
    background: black;
    padding: 4px;
}

.feature:hover {
    filter: invert(100%);
    transition-duration: 1s;
}

.shake:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }

.center {
    text-align: center;
}

.space {
    padding: 0 0.3em 0 0.3em;
}
  
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

  @media (max-width: 480px) {
    h1 {
        font-size: 1.5em;
        letter-spacing: 2px;
    }

    h2 {
        font-size: 1.3em;
    }

    h3 {
        font-size: 1.2em;
    }

    h4 {
        font-size: 1em;
    }

    img {
        width: 50%;
        height: 50%;
    }

    p {
        font-size: 0.7em;
        line-height: 1.4;
    }

    nav li {
        padding: 0 0.2em 0 0.2em;
    }

    ul {
        font-size: 0.6em;
        border: 1.5px solid black;
    }

    button {
        font-size: 0.7em;
    }

    figure {
        font-size: 0.7em;
    }

    footer {
        font-size: 0.5em;
    }

    iframe {
        width: 9em;
        height: 6em;
    }

    label {
        width: 50px;
    }

    input, 
    textarea {
        width: auto;
    }

    .feature {
        padding: 2px;
    }

    .cards {
        grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    }
    
    .card {
        grid-template-rows: max-content 100px 1fr;
    }
    
    .content p {
        font-size: 0.7em;
    }
    
    footer {
        font-size: 0.7em;
    }
    
    table {
        font-size: 0.5em;
        padding: 0.3em 0 0.3em 0;
    }

    th {
        padding: 0.5em 0.3em 0.5em 0.3em;
    }

    .center {
        font-size: 0.9em;
    }

    form {
        margin-bottom: 1em;
        margin-left: auto;
        margin-right: auto;
    }
    
    form li + li {
        margin-top: 1em;
      }
    
    form ul {
        list-style: none;
        font-size: 1em;
    }

    label {
        font-size: 0.7em;
        text-align: left;
      }
      
    input, 
    textarea {
        width: 100px;
    }